[submodule "config/hass/www/cards/custom-lovelace"]
	path = config/hass/www/cards/custom-lovelace
	url = https://github.com/ciotlosm/custom-lovelace
[submodule "config/hass/custom_components/Hue-sensors-HASS"]
	path = config/hass/custom_components/Hue-sensors-HASS
	url = https://github.com/robmarkcole/Hue-sensors-HASS
[submodule "config/hass/custom_components/repos/hacs"]
	path = config/hass/custom_components/repos/hacs
	url = https://github.com/hacs/integration
[submodule "config/hass/custom_components/repos/entity-controller"]
	path = config/hass/custom_components/repos/entity-controller
	url = https://github.com/danobot/entity-controller
