homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: metric
  time_zone: Europe/Paris
  customize: !include customize.yaml
  packages: !include_dir_named packages
  whitelist_external_dirs:
    - /tmp

http:
  base_url: !secret base_url
  server_port: 8123
  api_password: !secret http_password
  login_attempts_threshold: 20
  use_x_forwarded_for: True
  trusted_proxies:
    # Traefik
    - 127.0.0.1
    - 10.7.0.1
  trusted_networks:
    # - 10.7.0.0/24 minus 10.7.0.1
    - 10.7.0.2
    - 10.7.0.3
    - 10.7.0.4
    - 10.7.0.5
    - 10.7.0.6
    - 10.7.0.7
    - 10.7.0.8
    - 10.7.0.9
    - 10.7.0.10
    - 10.7.0.11
    - 10.7.0.12
    - 10.7.0.13
    - 10.7.0.14
    - 10.7.0.15
    - 10.7.0.16
    - 10.7.0.17
    - 10.7.0.18
    - 10.7.0.19
    - 10.7.0.20
    - 10.7.0.21
    - 10.7.0.22
    - 10.7.0.23
    - 10.7.0.24
    - 10.7.0.25
    - 10.7.0.26
    - 10.7.0.27
    - 10.7.0.28
    - 10.7.0.29
    - 10.7.0.30
    - 10.7.0.31
    - 10.7.0.32
    - 10.7.0.33
    - 10.7.0.34
    - 10.7.0.35
    - 10.7.0.36
    - 10.7.0.37
    - 10.7.0.38
    - 10.7.0.39
    - 10.7.0.40
    - 10.7.0.41
    - 10.7.0.42
    - 10.7.0.43
    - 10.7.0.44
    - 10.7.0.45
    - 10.7.0.46
    - 10.7.0.47
    - 10.7.0.48
    - 10.7.0.49
    - 10.7.0.50
    - 10.7.0.51
    - 10.7.0.52
    - 10.7.0.53
    - 10.7.0.54
    - 10.7.0.55
    - 10.7.0.56
    - 10.7.0.57
    - 10.7.0.58
    - 10.7.0.59
    - 10.7.0.60
    - 10.7.0.61
    - 10.7.0.62
    - 10.7.0.63
    - 10.7.0.64
    - 10.7.0.65
    - 10.7.0.66
    - 10.7.0.67
    - 10.7.0.68
    - 10.7.0.69
    - 10.7.0.70
    - 10.7.0.71
    - 10.7.0.72
    - 10.7.0.73
    - 10.7.0.74
    - 10.7.0.75
    - 10.7.0.76
    - 10.7.0.77
    - 10.7.0.78
    - 10.7.0.79
    - 10.7.0.80
    - 10.7.0.81
    - 10.7.0.82
    - 10.7.0.83
    - 10.7.0.84
    - 10.7.0.85
    - 10.7.0.86
    - 10.7.0.87
    - 10.7.0.88
    - 10.7.0.89
    - 10.7.0.90
    - 10.7.0.91
    - 10.7.0.92
    - 10.7.0.93
    - 10.7.0.94
    - 10.7.0.95
    - 10.7.0.96
    - 10.7.0.97
    - 10.7.0.98
    - 10.7.0.99
    - 10.7.0.100
    - 10.7.0.101
    - 10.7.0.102
    - 10.7.0.103
    - 10.7.0.104
    - 10.7.0.105
    - 10.7.0.106
    - 10.7.0.107
    - 10.7.0.108
    - 10.7.0.109
    - 10.7.0.110
    - 10.7.0.111
    - 10.7.0.112
    - 10.7.0.113
    - 10.7.0.114
    - 10.7.0.115
    - 10.7.0.116
    - 10.7.0.117
    - 10.7.0.118
    - 10.7.0.119
    - 10.7.0.120
    - 10.7.0.121
    - 10.7.0.122
    - 10.7.0.123
    - 10.7.0.124
    - 10.7.0.125
    - 10.7.0.126
    - 10.7.0.127
    - 10.7.0.128
    - 10.7.0.129
    - 10.7.0.130
    - 10.7.0.131
    - 10.7.0.132
    - 10.7.0.133
    - 10.7.0.134
    - 10.7.0.135
    - 10.7.0.136
    - 10.7.0.137
    - 10.7.0.138
    - 10.7.0.139
    - 10.7.0.140
    - 10.7.0.141
    - 10.7.0.142
    - 10.7.0.143
    - 10.7.0.144
    - 10.7.0.145
    - 10.7.0.146
    - 10.7.0.147
    - 10.7.0.148
    - 10.7.0.149
    - 10.7.0.150
    - 10.7.0.151
    - 10.7.0.152
    - 10.7.0.153
    - 10.7.0.154
    - 10.7.0.155
    - 10.7.0.156
    - 10.7.0.157
    - 10.7.0.158
    - 10.7.0.159
    - 10.7.0.160
    - 10.7.0.161
    - 10.7.0.162
    - 10.7.0.163
    - 10.7.0.164
    - 10.7.0.165
    - 10.7.0.166
    - 10.7.0.167
    - 10.7.0.168
    - 10.7.0.169
    - 10.7.0.170
    - 10.7.0.171
    - 10.7.0.172
    - 10.7.0.173
    - 10.7.0.174
    - 10.7.0.175
    - 10.7.0.176
    - 10.7.0.177
    - 10.7.0.178
    - 10.7.0.179
    - 10.7.0.180
    - 10.7.0.181
    - 10.7.0.182
    - 10.7.0.183
    - 10.7.0.184
    - 10.7.0.185
    - 10.7.0.186
    - 10.7.0.187
    - 10.7.0.188
    - 10.7.0.189
    - 10.7.0.190
    - 10.7.0.191
    - 10.7.0.192
    - 10.7.0.193
    - 10.7.0.194
    - 10.7.0.195
    - 10.7.0.196
    - 10.7.0.197
    - 10.7.0.198
    - 10.7.0.199
    - 10.7.0.200
    - 10.7.0.201
    - 10.7.0.202
    - 10.7.0.203
    - 10.7.0.204
    - 10.7.0.205
    - 10.7.0.206
    - 10.7.0.207
    - 10.7.0.208
    - 10.7.0.209
    - 10.7.0.210
    - 10.7.0.211
    - 10.7.0.212
    - 10.7.0.213
    - 10.7.0.214
    - 10.7.0.215
    - 10.7.0.216
    - 10.7.0.217
    - 10.7.0.218
    - 10.7.0.219
    - 10.7.0.220
    - 10.7.0.221
    - 10.7.0.222
    - 10.7.0.223
    - 10.7.0.224
    - 10.7.0.225
    - 10.7.0.226
    - 10.7.0.227
    - 10.7.0.228
    - 10.7.0.229
    - 10.7.0.230
    - 10.7.0.231
    - 10.7.0.232
    - 10.7.0.233
    - 10.7.0.234
    - 10.7.0.235
    - 10.7.0.236
    - 10.7.0.237
    - 10.7.0.238
    - 10.7.0.239
    - 10.7.0.240
    - 10.7.0.241
    - 10.7.0.242
    - 10.7.0.243
    - 10.7.0.244
    - 10.7.0.245
    - 10.7.0.246
    - 10.7.0.247
    - 10.7.0.248
    - 10.7.0.249
    - 10.7.0.250
    - 10.7.0.251
    - 10.7.0.252
    - 10.7.0.253
    - 10.7.0.254


config:
conversation:
discovery:
downloader: !include downloader.yaml
group: !include_dir_merge_named groups
history:
logbook:
lovelace:
  mode: yaml
map:
recorder:
  purge_interval: 1
  purge_keep_days: 2
  db_url: !secret db_url
sensor: !include sensor.yaml
sun:
system_health:
updater:

# vim: set filetype=yaml et sw=2 ts=2 :
